/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --white: #ffffff;
  --grey: #414141;
  --red: #d62d20;
  --yellow: #ffa700;
  --blue: #3367d6;
  --orange: #e34c26;
  --green: #008744;
  --blueReact: #30b1e5;
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  color: #bbbbbb;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--white);
  color: #f5f5f5;
}

section {
  padding: 90px 0;
  text-align: center;
  background: white;
}

.container {
  width: 100%;
  display: inherit;
  max-width: 1200px;
  justify-content: inherit;
  margin: 0 auto;
  padding: 0 20px;
}

.iframe {
  margin-top: 350px;
}

#logo {
  width: 150px;
  height: 60px;
}

.navbar {
  position: fixed;
  background: transparent;
  /*transition: background 0.3s;*/
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  z-index: 5;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__title {
  font-size: 24px;
}

.navbar__links {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar__link {
  padding-left: 20px;
}

.navbar__link a {
  color: var(--white);
  transition: color 0.3s;
}

.navbar__link a:hover {
  color: #8e8e8e;
  transition: color 0.3s;
}

.navbar__menu {
  display: none;
  align-items: center;
  font-size: 35px;
}

.home {
  min-height: 100vh;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}

.home__background {
  background-color: #8e8e8e;
  background-image: url(img/fondo.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.home__profile {
  height: 250px;
  border-radius: 50%;
  margin-right: 40px;
  transition: filter 3s;
}

.home__title {
  font-size: 50px;
  text-shadow: 1px 1px black;
  color: var(--blueReact);
}

.home__title--primary,
.home__title--secondary {
  font-size: 30px;
  color: #f5f5f5;
  text-shadow: 1px 1px black;
}

.section__title {
  color: var(--grey);
  font-size: 25px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.section__subtitle {
  color: var(--grey);
  text-align: center;
  margin-bottom: 20px;
}

.about__grid {
  display: grid;
  grid-template-columns: 1fr;
}

.about__description {
  text-align: center;
  color: var(--grey);
  line-height: 40px;
}

.about__logo {
  width: 100%;
  height: 60px;
  justify-content: center;
}

.about__logo img {
  width: 150px;
  height: 60px;
}

#about {
  background-color: aliceblue;
}

#services {
  background-color: beige;
}

#portfolio {
  background-color: antiquewhite;
}

#contact {
  background-color: floralwhite;
}

.about__summary {
  margin: 30px 0;
}

.about__description span {
  color: var(--grey);
}

.about__description h2 {
  color: var(--grey);
  margin-bottom: 20px;
}

.about__skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.about__description i {
  font-size: 30px;
}

.skill__title {
  color: var(--grey);
  grid-column: span 3;
  text-align: left;
  margin: 20px 0;
}

.skill__item {
  font-size: 40px;
  color: var(--grey);
  /*padding: 35px;*/
  transition: all 0.3s;
  min-width: 130px;
  height: 100px;
}

.skill__item img {
  max-height: 50px;
  max-width: 100px;
}

.skill__name {
  font-size: 14px;
  text-align: center;
}

.services__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.services__item {
  padding: 20px;
  /* background: rgba(245,245,245,0.6); */
  border-bottom: 5px solid transparent;
  border-radius: 10px;
  transition: border 0.3s;
}

/* .services__item:hover {
  transition: border 0.3s;
  border-bottom: 5px solid var(--blue);
} */

.services__item:hover i {
  transition: all 0.3s;
  color: var(--grey);
}

.services__item i {
  transition: all 0.3s;
  font-size: 30px;
  margin: 20px 0;
  color: var(--blueReact);
}

.fa-mobile-alt {
  color: black;
}

.fa-pencil-ruler {
  color: var(--orange);
}

.fa-code {
  color: var(--green);
}

.fa-thumbs-up {
  color: var(--red);
}

.fa-tachometer-alt {
  color: var(--yellow);
}

.fa-crosshairs {
  color: var(--blue);
}

.services__item h3 {
  color: var(--grey);
  margin-bottom: 15px;
}

.services__item p {
  color: var(--grey);
}

.portfolio__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.portfolio__item {
  background: white;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  font-size: 14px;
  border-radius: 10px;
}

.portfolio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 1s;
  border-radius: 10px;
  max-height: 190px;
}

.portfolio__description {
  padding: 50px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 300px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 10px;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolio__item:hover .portfolio__description {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
  border-radius: 10px;
  transform: translateY(-300px);
}

.portfolio__item:hover .portfolio__img {
  transition: all 1s;
  border-radius: 10px;
  transform: scale(1.1);
}

.portfolio__description--title {
  color: var(--white);
}

.portfolio__description--text {
  margin: 20px 0;
}

.buttons__container {
  display: flex;
  border-radius: 10px;
}
/*
.button {
  background: #191919;
  color: #f5f5f5;
  padding: 5px 10px;
  display: inline-block;
  margin: auto;
}

.button:hover {
  color: var(--blue);
}

.button--cta {

  background: var(--blueReact
    );
  color: var(--grey);
  padding: 5px 30px;
 
  align-self: center;
  margin-top: 20px;
  font: bold;
  border-radius: 2px;
  display: inline-flex;
  width: 150px;
  justify-content: center;
  align-items: center;

}

.button--cta i {
  margin-right: 10px;
}

.button--cta:hover {
  background: var(--blue);
  color: white;
}
.button .fa-github:before {
  color: white;
}
*/
.contact__grid {
  display: flex;
  justify-content: center;
}

.contact__item {
  padding: 40px;
  transition: all 0.3s;
}

.contact__item i {
  font-size: 35px;
  margin-bottom: 10px;
  color: var(--blueReact);
}

.contact__item i:hover {
  transition: all 0.3s;
  color: var(--grey);
}
.active a {
  color: #f5f5f5;
}

.footer {
  color: var(--grey);
  background-color: rgba(245, 245, 245, 0.6);
  padding: 12px;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: var(--grey);
}

.footer a:hover {
  color: var(--blue);
}

.lista {
  list-style-type: none;
}

.buttonI {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 1.3em 3em;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.buttonI:hover {
  background-color: var(--blueReact);
  /*box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.52);*/
  color: #fff;
  transform: translateY(-5px);
}

.buttonI:active {
  transform: translateY(-0.5px);
}

.map {
  width: 100%;
  display: flex;
  justify-content: center;
}

.map iframe {
  width: 100%;
}
